.delete {
  &__constainer {
    padding: 30px 60px;
  }
  &__body {
    text-align: center;

    h4 {
      margin-bottom: 30px;
      font-size: 24px;
    }
    p {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }
  &__cancel,
  &__delete {
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 0.3125rem 1px;
    padding: 12px 30px;
    position: relative;
    font-size: 12px;
    min-width: auto;
    box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14),
      0 3px 1px -2px rgba(153, 153, 153, 0.2),
      0 1px 5px 0 rgba(153, 153, 153, 0.12);
    min-height: auto;
    text-align: center;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
      background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
    will-change: box-shadow, transform;
    touch-action: manipulation;
    border-radius: 3px;
    letter-spacing: 0;
    text-transform: uppercase;
    vertical-align: middle;
    background-color: #999;
    width: 100%;
  }
  &__cancel {
    box-shadow: 0 2px 2px 0 rgba(244, 67, 54, 0.14),
      0 3px 1px -2px rgba(244, 67, 54, 0.2), 0 1px 5px 0 rgba(244, 67, 54, 0.12);
    background-color: #f44336;
  }
  &__delete {
    box-shadow: 0 2px 2px 0 rgba(76, 175, 80, 0.14),
      0 3px 1px -2px rgba(76, 175, 80, 0.2), 0 1px 5px 0 rgba(76, 175, 80, 0.12);
    background-color: #4caf50;
  }
}
