<div class="delete">
  <div class="delete__constainer">
    <div class="delete__header"></div>
    <div class="delete__body">
      <h4 [translate]="'general.are-you-sure'"></h4>
      <p [translate]="'general.are-you-sure'"></p>
    </div>
    <div class="delete__actions">
      <div class="mrk-row">
        <div class="mrk-sm-6 mrk-xs-6">
          <button
            (click)="close()"
            class="delete__cancel"
            [translate]="'general.cancel'"
          ></button>
        </div>
        <div class="mrk-sm-6 mrk-xs-6">
          <button
            (click)="delete()"
            class="delete__delete"
            [translate]="'general.delete'"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>
