<div class="upsert">
  <div class="upsert__container">
    <div class="upsert__header">
      <app-header
        [title]="'general.personal-record' | translate"
        [backLink]="'/'"
      ></app-header>
    </div>
    <div class="upsert__body">
      <app-box>
        <div class="upsert__holder">
          <form (keydown.enter)="onSubmit()" [formGroup]="formGroup">
            <div
              class="upsert__avatar"
              [ngClass]="{
                'upsert__avatar--in':
                  !formGroup || !formGroup.value.thumbnailUrl
              }"
            >
              <div class="upsert__avatar-wrapper">
                <img
                  *ngIf="formGroup.value.thumbnailUrl"
                  [src]="
                    baseUrl +
                    '/' +
                    formGroup.value.id +
                    '/' +
                    formGroup.value.thumbnailUrl
                  "
                />

                <div>
                  <input appUploadFile (file)="uploadPhoto($event)" />

                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24"
                    viewBox="0 0 24 24"
                    width="24"
                  >
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path
                      d="M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM14 13v4h-4v-4H7l5-5 5 5h-3z"
                    />
                  </svg>
                </div>
              </div>
            </div>
            <div class="mrk-row">
              <div class="mrk-sm-6 mrk-sm-space-left-3">
                <div>
                  <app-field-error
                    field="thumbnailUrl"
                    [showErrors]="submitted"
                  ></app-field-error>
                </div>
              </div>
            </div>

            <div class="upsert__form">
              <div class="mrk-container-fluid">
                <div class="mrk-row">
                  <div class="mrk-sm-6 mrk-sm-space-left-3">
                    <div>
                      <app-text-input
                        name="firstName"
                        type="text"
                        formControlName="firstName"
                        [showErrors]="submitted"
                        [label]="'person.first-name' | translate"
                      >
                      </app-text-input>
                      <app-field-error
                        field="firstName"
                        [showErrors]="submitted"
                      ></app-field-error>
                    </div>
                    <div>
                      <app-text-input
                        name="lastName"
                        type="text"
                        formControlName="lastName"
                        [showErrors]="submitted"
                        [label]="'person.last-name' | translate"
                      >
                      </app-text-input>
                      <app-field-error
                        field="lastName"
                        [showErrors]="submitted"
                      ></app-field-error>
                    </div>
                    <div>
                      <app-select
                        name="genderType"
                        formControlName="genderType"
                        [options]="genderTypeOptions"
                        [showErrors]="submitted"
                        [label]="'person.gender' | translate"
                      ></app-select>
                      <app-field-error
                        field="genderType"
                        [showErrors]="submitted"
                      ></app-field-error>
                    </div>
                    <div>
                      <app-text-input
                        formControlName="personalNumber"
                        name="personalNumber"
                        type="text"
                        [showErrors]="submitted"
                        [label]="'person.personal-number' | translate"
                      >
                      </app-text-input>
                      <app-field-error
                        field="personalNumber"
                        [showErrors]="submitted"
                      ></app-field-error>
                    </div>
                    <div>
                      <app-select
                        name="cityId"
                        formControlName="cityId"
                        [options]="citiesOptions"
                        [showErrors]="submitted"
                        [label]="'person.city' | translate"
                      ></app-select>
                      <app-field-error
                        field="cityId"
                        [showErrors]="submitted"
                      ></app-field-error>
                    </div>
                    <div>
                      <mat-form-field>
                        <input
                          matInput
                          formControlName="birthDate"
                          [matDatepicker]="picker"
                          placeholder="Choose a date"
                          [max]="startDate"
                        />
                        <mat-datepicker-toggle
                          matSuffix
                          [for]="picker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker
                          #picker
                          startView="year"
                          [startAt]="startDate"
                        ></mat-datepicker>
                      </mat-form-field>
                      <app-field-error
                        field="birthDate"
                        [showErrors]="submitted"
                      ></app-field-error>
                    </div>
                    <div [formGroup]="formGroup.get('phoneNumber')">
                      <div class="mrk-row">
                        <div class="mrk-sm-4 mrk-xs-4">
                          <app-select
                            formControlName="type"
                            [options]="phoneNumberTypeOptions"
                            [showErrors]="submitted"
                            [label]="'person.phone-number-type' | translate"
                          ></app-select>
                        </div>
                        <div class="mrk-sm-8 mrk-xs-8">
                          <app-text-input
                            name="number"
                            formControlName="number"
                            type="text"
                            [showErrors]="submitted"
                            [label]="'person.phone-number' | translate"
                          >
                          </app-text-input>
                        </div>
                      </div>
                      <app-field-error
                        field="phoneNumber"
                        [showErrors]="submitted"
                      ></app-field-error>
                    </div>
                    <div>
                      <app-button
                        (click)="onSubmit()"
                        [isLoading]="showLoader"
                        [text]="'person.save' | translate"
                        [type]="'orange'"
                      >
                      </app-button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </app-box>

      <app-box>
        <div #personRelationsRef class="mrk-container-fluid">
          <div class="mrk-container-fluid">
            <form
              (keydown.enter)="onSubmitRelations()"
              [formGroup]="relationsFormGroup"
            >
              <div class="mrk-row">
                <div class="mrk-sm-5">
                  <app-text-input
                    name="relatedPersonId"
                    type="text"
                    formControlName="relatedPersonId"
                    [showErrors]="submittedRelations"
                    [label]="'person.related-person-id' | translate"
                  >
                  </app-text-input>
                </div>
                <div class="mrk-sm-5">
                  <app-select
                    formControlName="type"
                    [options]="relationTypeOptions"
                    [showErrors]="submittedRelations"
                    [label]="'person.related-person-type' | translate"
                  ></app-select>
                </div>
                <div class="mrk-sm-2">
                  <app-button
                    (click)="onSubmitRelations()"
                    [isLoading]="showRelationsLoader"
                    [text]="'person.save' | translate"
                    [type]="'orange'"
                  >
                  </app-button>
                </div>
              </div>
            </form>
          </div>
          <app-data-table
            *ngIf="formGroup"
            [headers]="[
              'person.related-person-id' | translate,
              'person.name' | translate,
              'general.type' | translate,
              'general.category' | translate,
              'general.action' | translate
            ]"
            [limit]="relationsLimit"
            [page]="relationsPage"
            [count]="personRelations.count"
            [items]="personRelations.keys"
            [$item]="itemTemplate"
          ></app-data-table>

          <app-pagination
            *ngIf="listPagination"
            [listPagination]="listPagination"
            (change)="handlePageChange($event)"
          ></app-pagination>
        </div>
      </app-box>
    </div>
  </div>
</div>

<ng-template let-item #itemTemplate>
  <td>{{ personRelations.entities[item].relatedPerson.id }}</td>
  <td>
    <img
      [src]="
        baseUrl +
        '/' +
        personRelations.entities[item].relatedPerson.id +
        '/' +
        personRelations.entities[item].relatedPerson.thumbnailUrl
      "
    />
    {{ personRelations.entities[item].relatedPerson.firstName }}
    {{ personRelations.entities[item].relatedPerson.lastName }}
  </td>
  <td>
    {{
      "enums.RelationType." + personRelations.entities[item].type | translate
    }}
  </td>
  <td>
    {{
      "enums.RelationCategory." + personRelations.entities[item].category
        | translate
    }}
  </td>
  <td>
    <button
      *ngIf="!personRelations.entities[item].category"
      type="button"
      class="data-table__button data-table__button--delete"
      (click)="openDelete(personRelations.entities[item])"
    >
      <span class="MuiButton-label">
        <svg
          focusable="false"
          viewBox="0 0 24 24"
          aria-hidden="true"
          role="presentation"
        >
          <path
            d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
          ></path>
        </svg>
      </span>
      <span></span>
    </button>
  </td>
</ng-template>
