.upsert {
  &__body {
    padding: 30px 30px;
    min-height: calc(100vh - 123px);
  }
  &__avatar {
    &--in,
    &:hover {
      .upsert__avatar-wrapper {
        background-color: rgba(0, 0, 0, 0.4);

        svg {
          opacity: 1;
        }
      }
    }
    &-wrapper {
      margin: -50px auto 0;
      padding: 0;
      overflow: hidden;
      width: 130px;
      box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
        0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
      height: 130px;
      border-radius: 50%;
      vertical-align: middle;
      position: relative;
      margin-bottom: 50px;
      background-color: #fff;

      img {
        display: block;
        position: absolute;
        bottom: 0;
        top: 0;
        margin: auto;
        left: -100%;
        right: -100%;
        min-height: 100%;
        min-width: 100%;
        max-width: 150%;
        max-height: 150%;
      }
      input,
      div {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        top: 0;
      }
      div {
        cursor: pointer;
      }
      input {
        opacity: 0;
        z-index: 1;
      }
      svg {
        opacity: 0;
        position: absolute;
        width: 50px;
        height: 50px;
        top: 50%;
        left: 50%;
        fill: #fff;
        margin: -25px 0 0 -25px;
      }
    }
  }
}
