.box {
  &__container {
    color: rgba(0, 0, 0, 0.87);
    width: 100%;
    border: 0;
    display: flex;
    position: relative;
    font-size: 0.875rem;
    min-width: 0;
    word-wrap: break-word;
    background: #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    margin-top: 30px;
    border-radius: 6px;
    margin-bottom: 30px;
    flex-direction: column;
  }
  &__header {
    color: #fff;
    margin: 0 15px;
    padding: 0;
    position: relative;
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;

    h4 {
      color: #3c4858;
      margin-top: 15px;
      min-height: auto;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-weight: 300;
      margin-bottom: 0px;
      text-decoration: none;
    }

    div {
      background: linear-gradient(60deg, #ec407a, #d81b60);
      box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
        0 7px 10px -5px rgba(233, 30, 99, 0.4);

      float: left;
      padding: 15px;
      margin-top: -20px;
      margin-right: 15px;
      border-radius: 3px;
    }

    svg {
      fill: #fff;
      width: 1em;
      height: 1em;
      display: inline-block;
      font-size: 1.5rem;
      transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      flex-shrink: 0;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      width: 24px;
      height: 24px;
      margin: 0 5px 0px;
      text-align: center;
      line-height: 33px;
      vertical-align: middle;
    }
    span {
      display: inline-block;
      vertical-align: middle;
      color: #fff;
    }
  }
  &__body {
    flex: 1 1 auto;
    padding: 0.9375rem 30px 50px;
    position: relative;
    -webkit-box-flex: 1;
  }
}
