.view {
  &__body {
    flex: 1 1 auto;
    padding: 0.9375rem 30px 50px;
    position: relative;
    -webkit-box-flex: 1;
  }
  &__avatar {
    div {
      margin: -50px auto 0;
      padding: 0;
      overflow: hidden;
      width: 130px;
      box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
        0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
      height: 130px;
      border-radius: 50%;
      vertical-align: middle;
      position: relative;
      margin-bottom: 50px;
    }

    img {
      display: block;
      position: absolute;
      bottom: 0;
      top: 0;
      margin: auto;
      left: -100%;
      right: -100%;
      min-height: 100%;
      min-width: 100%;
      max-width: 150%;
      max-height: 150%;
    }
  }
  &__field {
    padding: 15px 0;

    label {
      color: rgba(0, 0, 0, 0.26);
      font-size: 14px;
      font-weight: 400;
      line-height: 1.428571429;
    }
    &:not(:nth-of-type(1)) {
      border-top: 1px solid #ddd;
    }
  }
  &__statistics {
    color: rgba(0, 0, 0, 0.87);
    width: 100%;
    border: 0;
    display: flex;
    position: relative;
    font-size: 0.875rem;
    min-width: 0;
    word-wrap: break-word;
    background: #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    margin-top: 30px;
    border-radius: 6px;
    margin-bottom: 30px;
    flex-direction: column;

    &-wrapper {
      color: #fff;
      margin: 0 15px;
      padding: 0;
      position: relative;

      text-align: right;
      background: transparent;
      box-shadow: none;
      border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;

      div {
        float: left;
        padding: 15px;
        margin-top: -20px;
        margin-right: 15px;
        border-radius: 3px;
        background-color: #999;
      }
      p {
        color: #999;
        margin: 0;
        font-size: 14px;
        margin-top: 20px;
        padding-top: 10px;
        margin-bottom: 0px;
      }
      h3 {
        color: #3c4858;
        margin: 0px;
        min-height: auto;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-weight: 300;
        margin-bottom: 30px;
        text-decoration: none;
      }
      svg {
        fill: #fff;
      }
    }

    &--orange {
      .view__statistics-wrapper {
        div {
          background: linear-gradient(60deg, #ffa726, #fb8c00);
          box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
            0 7px 10px -5px rgba(255, 152, 0, 0.4);
        }
      }
    }
    &--green {
      .view__statistics-wrapper {
        div {
          background: linear-gradient(60deg, #66bb6a, #43a047);
          box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
            0 7px 10px -5px rgba(76, 175, 80, 0.4);
        }
      }
    }
    &--red {
      .view__statistics-wrapper {
        div {
          background: linear-gradient(60deg, #ef5350, #e53935);
          box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
            0 7px 10px -5px rgba(244, 67, 54, 0.4);
        }
      }
    }
    &--blue {
      .view__statistics-wrapper {
        div {
          background: linear-gradient(60deg, #26c6da, #00acc1);
          box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
            0 7px 10px -5px rgba(0, 172, 193, 0.4);
        }
      }
    }
  }
}
