<div class="view">
  <div class="view__container">
    <div class="view__header">
      <app-header
        [title]="'general.personal-record' | translate"
        [backLink]="'/'"
      ></app-header>
    </div>
    <div class="view__body">
      <app-box>
        <div *ngIf="person" class="view__holder">
          <div class="view__avatar">
            <div>
              <img
                [src]="baseUrl + '/' + person.id + '/' + person.thumbnailUrl"
              />
            </div>
          </div>
          <div class="mrk-container-fluid">
            <div class="mrk-row">
              <div class="mrk-sm-6 mrk-sm-space-left-3">
                <div class="view__field">
                  <div class="mrk-row">
                    <div class="mrk-sm-5">
                      <label>{{ "person.first-name" | translate }}</label>
                    </div>
                    <div class="mrk-sm-7">
                      <p>{{ person.firstName }}</p>
                    </div>
                  </div>
                </div>
                <div class="view__field">
                  <div class="mrk-row">
                    <div class="mrk-sm-5">
                      <label>{{ "person.last-name" | translate }}</label>
                    </div>
                    <div class="mrk-sm-7">
                      <p>{{ person.lastName }}</p>
                    </div>
                  </div>
                </div>
                <div class="view__field">
                  <div class="mrk-row">
                    <div class="mrk-sm-5">
                      <label>{{ "person.gender" | translate }}</label>
                    </div>
                    <div class="mrk-sm-7">
                      <p>
                        {{
                          "enums.GenderType." + person.genderType | translate
                        }}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="view__field">
                  <div class="mrk-row">
                    <div class="mrk-sm-5">
                      <label>{{ "person.personal-number" | translate }}</label>
                    </div>
                    <div class="mrk-sm-7">
                      <p>{{ person.personalNumber }}</p>
                    </div>
                  </div>
                </div>
                <div class="view__field">
                  <div class="mrk-row">
                    <div class="mrk-sm-5">
                      <label>{{ "person.city" | translate }}</label>
                    </div>
                    <div class="mrk-sm-7">
                      <p>{{ cities.entities[person.cityId].displayName }}</p>
                    </div>
                  </div>
                </div>
                <div class="view__field">
                  <div class="mrk-row">
                    <div class="mrk-sm-5">
                      <label>{{ "person.birth-date" | translate }}</label>
                    </div>
                    <div class="mrk-sm-7">
                      <p>{{ person.birthDate | date: "dd/MM/yyyy" }}</p>
                    </div>
                  </div>
                </div>
                <div class="view__field">
                  <div class="mrk-row">
                    <div class="mrk-sm-5">
                      <label>{{ "person.phone-number" | translate }}</label>
                    </div>
                    <div class="mrk-sm-7">
                      <p>
                        {{
                          "enums.PhoneNumberType." +
                            person.phoneNumber.split("-")[0] | translate
                        }}
                        : &nbsp;
                        {{ person.phoneNumber.split("-")[1] }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </app-box>

      <app-box>
        <div #personRelationsRef class="mrk-container-fluid">
          <app-data-table
            [headers]="[
              'person.related-person-id' | translate,
              'person.name' | translate,
              'general.type' | translate,
              'general.category' | translate
            ]"
            [limit]="relationsLimit"
            [page]="relationsPage"
            [count]="personRelations.count"
            [items]="personRelations.keys"
            [$item]="itemTemplate"
          ></app-data-table>

          <app-pagination
            *ngIf="listPagination"
            [listPagination]="listPagination"
            (change)="handlePageChange($event)"
          ></app-pagination>
        </div>
      </app-box>

      <div class="mrk-container-fluid">
        <div class="mrk-row">
          <div
            *ngFor="let statistic of statistics; let i = index"
            class="mrk-sm-3"
          >
            <div
              class="view__statistics"
              [ngClass]="{
                'view__statistics--orange': i == 0 || i == 1,
                'view__statistics--red': i == 2 || i == 3,
                'view__statistics--green': i == 4 || i == 5,
                'view__statistics--blue': i == 6 || i == 7
              }"
            >
              <div class="view__statistics-wrapper">
                <div>
                  <span>
                    <svg
                      *ngIf="i == 0 || i == 1"
                      xmlns="http://www.w3.org/2000/svg"
                      height="24"
                      viewBox="0 0 24 24"
                      width="24"
                    >
                      <path d="M0 0h24v24H0z" fill="none" />
                      <path
                        d="M12 2c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zm9 7h-6v13h-2v-6h-2v6H9V9H3V7h18v2z"
                      />
                    </svg>

                    <svg
                      *ngIf="i == 2 || i == 3"
                      xmlns="http://www.w3.org/2000/svg"
                      enable-background="new 0 0 24 24"
                      height="24"
                      viewBox="0 0 24 24"
                      width="24"
                    >
                      <g><rect fill="none" height="24" width="24" x="0" /></g>
                      <g>
                        <g>
                          <g>
                            <path
                              d="M9,4c0-1.11,0.89-2,2-2s2,0.89,2,2s-0.89,2-2,2S9,5.11,9,4z M16,13c-0.01-1.34-0.83-2.51-2-3c0-1.66-1.34-3-3-3 s-3,1.34-3,3v7h2v5h3v-5h3V13z"
                            />
                          </g>
                        </g>
                      </g>
                    </svg>
                    <svg
                      *ngIf="i == 4 || i == 5"
                      xmlns="http://www.w3.org/2000/svg"
                      height="24"
                      viewBox="0 0 24 24"
                      width="24"
                    >
                      <path d="M0 0h24v24H0V0z" fill="none" />
                      <path
                        d="M9.4 16.6L4.8 12l4.6-4.6L8 6l-6 6 6 6 1.4-1.4zm5.2 0l4.6-4.6-4.6-4.6L16 6l6 6-6 6-1.4-1.4z"
                      />
                    </svg>

                    <svg
                      *ngIf="i == 6 || i == 7"
                      xmlns="http://www.w3.org/2000/svg"
                      height="24"
                      viewBox="0 0 24 24"
                      width="24"
                    >
                      <path d="M0 0h24v24H0z" fill="none" />
                      <path
                        d="M12 2c-4.42 0-8 .5-8 4v9.5C4 17.43 5.57 19 7.5 19L6 20.5v.5h12v-.5L16.5 19c1.93 0 3.5-1.57 3.5-3.5V6c0-3.5-3.58-4-8-4zM7.5 17c-.83 0-1.5-.67-1.5-1.5S6.67 14 7.5 14s1.5.67 1.5 1.5S8.33 17 7.5 17zm3.5-6H6V6h5v5zm5.5 6c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm1.5-6h-5V6h5v5z"
                      />
                    </svg>
                  </span>
                </div>
                <p>
                  {{ "enums.RelationType." + statistic.type | translate }}
                </p>
                <h3>
                  {{ statistic.counter }}
                  <small>
                    {{
                      "enums.RelationCategory." + statistic.category | translate
                    }}
                  </small>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template let-item #itemTemplate>
  <td>{{ personRelations.entities[item].relatedPerson.id }}</td>
  <td>
    <img
      [src]="
        baseUrl +
        '/' +
        personRelations.entities[item].relatedPerson.id +
        '/' +
        personRelations.entities[item].relatedPerson.thumbnailUrl
      "
    />
    {{ personRelations.entities[item].relatedPerson.firstName }}
    {{ personRelations.entities[item].relatedPerson.lastName }}
  </td>
  <td>
    {{
      "enums.RelationType." + personRelations.entities[item].type | translate
    }}
  </td>
  <td>
    {{
      "enums.RelationCategory." + personRelations.entities[item].category
        | translate
    }}
  </td>
</ng-template>
