@import "../partials/breakpoints";
@import "../partials/typography";

html,
body {
  width: 100%;
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  @include font-normal;
}

body {
  overflow-x: hidden;
  overflow-scrolling: touch;
}
.mat-ripple {
  transform: translateZ(0);
}
.mat-menu-panel {
  max-height: 450px !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

mat-progress-bar {
  height: 3px !important;
}

.fx-y-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  display: block;
}

input[type="password"]:not(:placeholder-shown) {
  font-family: initial;
  letter-spacing: 3px;
}

.snack-bar-success {
  background-color: #4caf50 !important;
  color: white !important;

  .mat-simple-snackbar-action {
    color: white !important;
  }
}

.snack-bar-error {
  background-color: #ef5350 !important;
  color: white !important;

  .mat-simple-snackbar-action {
    color: white !important;
  }
}

.snack-bar-black {
  background-color: #000000 !important;
  color: white !important;

  .mat-simple-snackbar-action {
    color: white !important;
  }
}
textarea:disabled,
input:disabled {
  background-color: transparent;
}

.data-table {
  table {
    tbody {
      tr {
        height: 48px;
        border-top: 1px solid #ddd;
      }
    }

    th,
    td {
      padding: 12px 8px;
      position: relative;
      font-size: 1em;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-weight: 300;
      line-height: 1.42857143;
      border-bottom: none;
      vertical-align: middle;
      color: rgba(0, 0, 0, 0.87);
      border: none;
      text-align: center;

      img {
        display: inline-block;
        vertical-align: middle;
        height: 30px;
      }
    }
    tr {
      th:first-child,
      td:first-child {
        text-align: center;
      }
      th:last-child,
      td:last-child {
        text-align: right;
        overflow: hidden;
      }
    }
  }
  &__button {
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 0.3125rem 1px;
    padding: 12px 30px;
    position: relative;
    font-size: 12px;
    min-width: auto;
    box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14),
      0 3px 1px -2px rgba(153, 153, 153, 0.2),
      0 1px 5px 0 rgba(153, 153, 153, 0.12);
    min-height: auto;
    text-align: center;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
      background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
    will-change: box-shadow, transform;
    touch-action: manipulation;
    border-radius: 3px;
    letter-spacing: 0;
    text-transform: uppercase;
    vertical-align: middle;
    background-color: #999;
    margin: 0 0 0 5px;
    padding: 5px;

    span {
      width: 100%;
      display: inherit;
      align-items: inherit;
      justify-content: inherit;
    }

    svg {
      fill: #fff;
      width: 1em;
      height: 1em;
      display: inline-block;
      font-size: 1.5rem;
      transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      flex-shrink: 0;
      user-select: none;

      top: 0;
      width: 18px;
      height: 18px;
      display: inline-block;
      position: relative;
      vertical-align: middle;
    }

    &--view {
      box-shadow: 0 2px 2px 0 rgba(0, 172, 193, 0.14),
        0 3px 1px -2px rgba(0, 172, 193, 0.2),
        0 1px 5px 0 rgba(0, 172, 193, 0.12);
      background-color: #00acc1;
    }
    &--edit {
      box-shadow: 0 2px 2px 0 rgba(76, 175, 80, 0.14),
        0 3px 1px -2px rgba(76, 175, 80, 0.2),
        0 1px 5px 0 rgba(76, 175, 80, 0.12);
      background-color: #4caf50;
    }
    &--delete {
      box-shadow: 0 2px 2px 0 rgba(244, 67, 54, 0.14),
        0 3px 1px -2px rgba(244, 67, 54, 0.2),
        0 1px 5px 0 rgba(244, 67, 54, 0.12);
      background-color: #f44336;
    }
  }
}
.scroll-bar-style {
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    margin-left: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(153, 153, 153, 0.5);
    border-radius: 4px;
    margin-left: 8px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(153, 153, 153, 0.7);
  }
}

.mat-form-field {
  width: 100%;
}
.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
  bottom: 0;
  background-color: #d2d2d2;
}
.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 9px 0;
  margin: 0;
  border: 0;
}
.mat-form-field-flex {
  padding-top: 26px;
}
input.mat-input-element {
  margin-top: 0;
  font-size: 14px;
  line-height: 16px;
}
