// Media step breakpoint mixin based on Angular Material lib
$breakpoints: (
    xs: 'screen and (max-width: 767px)',
    sm: 'screen and (min-width: 768px)',
    md: 'screen and (min-width: 992px)',
    lg: 'screen and (min-width: 1170px)',
    xl: 'screen and (min-width: 1366px)',
    hg: 'screen and (min-width: 1660px)',
    lt-sm: 'screen and (max-width: 767px)',
    lt-md: 'screen and (max-width: 991px)',
    lt-lg: 'screen and (max-width: 1169px)',
    lt-xl: 'screen and (max-width: 1365px)',
    gt-xs: 'screen and (min-width: 768px)',
    gt-sm: 'screen and (min-width: 992px)',
    gt-md: 'screen and (min-width: 1170px)',
    gt-lg: 'screen and (min-width: 1366px)'
) !default;

// Re-map the breakpoints for the helper classes
$helper-breakpoints: (
    xs: null,
    sm: 'gt-xs',
    md: 'gt-sm',
    lg: 'gt-md',
    xl: 'gt-lg',
    hg: 'gt-hg'
);

@mixin media-breakpoint($breakpointName) {

    $mediaQuery: map-get($breakpoints, $breakpointName);

    @if ($mediaQuery == null) {
        @content
    } @else {
        @media #{$mediaQuery} {
            @content
        }
    }
}
