h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}
*:focus {
  outline: none;
}
*:focus {
  /* autoprefixer: ignore next */
  outline: none;
}
*::-moz-focus-inner {
  /* autoprefixer: ignore next */
  border: 0;
}
input {
  /* autoprefixer: ignore next */
  -webkit-appearance: none;
  /* autoprefixer: ignore next */
  -moz-appearance: none;
  /* autoprefixer: ignore next */
  appearance: none;
}
body,
html {
  position: relative;
}

html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  display: block;
  margin: 0;
  min-height: 100%;
  font-family: "Tbc Bin Nusxuriregular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body * {
  -webkit-appearance: none;
}

button {
  cursor: pointer;
  background: 0 0;
  border: none;
  outline: 0;
  padding: 0;
}
