@font-face {
    font-family: 'AvenirLTStd';
    src: url(/assets/fonts/AvenirLTStd-Light.otf);
    font-weight: 300;
}
@font-face {
    font-family: 'AvenirLTStd';
    src: url(/assets/fonts/AvenirLTStd-Roman.otf);
    font-weight: 400;
}
@font-face {
    font-family: 'AvenirLTStd';
    src: url(/assets/fonts/AvenirLTStd-Medium.otf);
    font-weight: 500;
}
@font-face {
    font-family: 'AvenirLTStd';
    src: url(/assets/fonts/AvenirLTStd-Heavy.otf);
    font-weight: 700;
}
@font-face {
    font-family: 'AvenirLTStd';
    src: url(/assets/fonts/AvenirLTStd-Black.otf);
    font-weight: 900;
}

@mixin font-light {
    font-family: "AvenirLTStd" !important;
    font-weight: 300;
}

@mixin font-normal {
    font-family: "AvenirLTStd" !important;
    font-weight: 400;
}

@mixin font-medium {
    font-family: "AvenirLTStd" !important;
    font-weight: 500;
}

@mixin font-bold {
    font-family: "AvenirLTStd" !important;
    font-weight: 700;
}

@mixin font-black {
    font-family: "AvenirLTStd" !important;
    font-weight: 900;
}

.font-normal {
    @include font-normal;
}

.font-medium {
    @include font-medium;
}

.font-light {
    @include font-light;
}

.font-bold {
    @include font-bold;
}

.font-black {
    @include font-black;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'AvenirLTStd';
    font-weight: 700;
}
