<div class="data-table">
  <div class="data-table__container">
    <div class="data-table__header"></div>
    <div class="data-table__body">
      <div class="mrk-container-fluid">
        <table class="data-table__table">
          <thead>
            <tr>
              <th *ngFor="let header of headers">{{ header }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items; let i = index">
              <ng-template
                [ngTemplateOutlet]="$item"
                [ngTemplateOutletContext]="{
                  $implicit: item
                }"
              ></ng-template>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
