.data-table {
  &__container {
    min-height: 0.1%;
    overflow-x: auto;
  }

  &__header {
    padding-bottom: 40px;
  }

  &__table {
    width: 100%;
    overflow: auto;
    max-width: 100%;
    margin-bottom: 0;
    border-spacing: 0;
    border-collapse: collapse;
    background-color: transparent;

    thead {
      color: #999;

      tr {
        height: 56px;
      }
    }
  }
}
