<div class="sign-in">
  <div class="sign-in__container">
    <div class="sign-in__wrapper">
      <div class="mrk-container">
        <div class="mrk-row">
          <div
            class="mrk-xs-12 mrk-sm-6 mrk-sm-space-left-3 mrk-md-4 mrk-md-space-left-4"
          >
            <div class="sign-in__form  font-normal">
              <form (keydown.enter)="onSubmit()" [formGroup]="formGroup">
                <div class="sign-in__form-header">
                  <h4 [translate]="'identity.title'"></h4>
                </div>
                <div class="sign-in__form-body">
                  <div class="sign-in__form-field">
                    <app-text-input
                      formControlName="username"
                      type="text"
                      name="username"
                      [showErrors]="submitted"
                      [label]="'identity.username' | translate"
                    >
                    </app-text-input>
                    <app-field-error
                      field="username"
                      [showErrors]="submitted"
                    ></app-field-error>
                  </div>
                  <div class="sign-in__form-field">
                    <app-text-input
                      formControlName="password"
                      type="password"
                      name="password"
                      [showErrors]="submitted"
                      [label]="'identity.password' | translate"
                    >
                    </app-text-input>
                    <app-field-error
                      field="password"
                      [showErrors]="submitted"
                    ></app-field-error>
                  </div>
                </div>
                <div class="sign-in__form-submit">
                  <app-button
                    (click)="onSubmit()"
                    [isLoading]="showLoader"
                    [text]="'identity.submit' | translate"
                    [type]="'pale-orange'"
                  >
                  </app-button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
