.checkbox {
  user-select: none;
  padding-top: 36px;

  input {
    display: none;
  }

  &--disabled {
    opacity: 0.2;
  }

  &__box,
  &__label {
    vertical-align: middle;
    line-height: 20px;
  }

  &__box {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    background: #ffffff;
    border: solid 1px #dddddd;
    padding: 2px 2px;
    box-sizing: border-box;
    cursor: pointer;
    flex-shrink: 0;
    margin: 3px 0;
    vertical-align: middle;
    display: inline-block;

    img {
      display: none;
    }

    &--checked {
      background: #f50057;
      border: 1px solid #f50057;

      img,
      svg {
        display: block;
        width: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__label {
    margin: 0 0 0 8px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
    line-height: 1.5;
    vertical-align: middle;
    display: inline-block;
  }

  &--disabled {
    pointer-events: none;

    .checkbox__box {
      img {
        width: 80%;
      }

      &--checked {
        background: #d7d7d7;
        border: solid 1px #dddddd;
      }
    }

    .checkbox__label {
      color: #d8d8d8;
    }
  }
}

:host.small {
  .checkbox {
    display: inline-block;

    &__box {
      display: inline-block;
      width: 18px;
      height: 18px;
    }

    &__label {
      display: inline-block;
      font-size: 14px;
      color: rgba(#2b2b2b, 0.5);
      margin-right: 0;
      margin-left: 10px;
    }
  }
}
