<div class="checkbox flex-start" [class.checkbox--disabled]="disabled">
  <div
    class="checkbox__box"
    [ngClass]="{ 'checkbox__box--checked': value }"
    (click)="toggleCheck()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="13"
      height="9"
      viewBox="0 0 13 9"
    >
      <path
        fill="#FFF"
        fill-rule="nonzero"
        d="M12.322 0l-7.65 7.65L.678 3.655 0 4.333l4.672 4.672L13 .678z"
      />
    </svg>
  </div>

  <label class="checkbox__label" *ngIf="label" (click)="toggleCheck()">{{
    label
  }}</label>
</div>
