<div [class]="className">
  <button
    [ngClass]="{ disabled: isLoading }"
    (click)="onClick()"
    [disabled]="disable || isLoading"
  >
    <span *ngIf="isLoading" class="button-input__loader">
      <img
        class="button-input__loader-image"
        *ngIf="type == 'black'"
        src="/assets/icons/spinner-white.svg"
        alt="spinner"
      />
      <img
        class="button-input__loader-image"
        *ngIf="type != 'black'"
        src="/assets/icons/spinner-dark.svg"
      />
    </span>
    <span *ngIf="text">{{ text }}</span>
    <span *ngIf="!text"></span>
  </button>
</div>
