.button-input {
  button {
    border: none;
    cursor: pointer;
    position: relative;
    font-size: 12px;
    min-width: auto;
    box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14),
      0 3px 1px -2px rgba(153, 153, 153, 0.2),
      0 1px 5px 0 rgba(153, 153, 153, 0.12);
    min-height: auto;
    text-align: center;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
      background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
    will-change: box-shadow, transform;
    touch-action: manipulation;
    border-radius: 3px;
    letter-spacing: 0;
    text-transform: uppercase;
    vertical-align: middle;
    padding: 1.125rem 2.25rem;
    font-size: 0.875rem;
    line-height: 1.333333;
    border-radius: 0.2rem;
    box-shadow: none;
    width: 100%;
  }

  &__loader {
    display: inline-block;
    margin-right: 4px;

    &-image {
      animation: rotate 1s linear infinite;
      display: block;
    }
  }

  &--orange {
    button {
      color: #fff;
      background: #e91e63;
    }
  }

  &--pale-orange {
    button {
      color: #e91e63;
      background: transparent;
    }
  }

  &--disabled {
    button {
      opacity: 0.15;
      cursor: not-allowed;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
