.dashbaord {
  &__container {
    top: 0;
    position: relative;
    background: #eee;
  }
  &__navigation {
  }
  &__body {
    position: relative;
    max-height: 100%;
    transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition-duration: 0.2s, 0.2s, 0.35s;
    transition-property: top, bottom, width;
    transition-timing-function: linear, linear, ease;
    margin-left: auto;

    @media (min-width: 960px) {
      width: calc(100% - 260px);
    }
  }
}
