<div class="dashbaord">
  <div class="dashbaord__container">
    <div class="dashbaord__navigation">
      <app-navigation></app-navigation>
    </div>
    <div class="dashbaord__body">
      <div class="dashbaord__body-wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
