.error-text {
  font-family: NotoSans;
  font-size: 12px;
  font-weight: 300;
  color: #e82828;
  margin-top: 1px;
  display: block;
  padding-bottom: 6px;
  line-height: 19px;
  height: 24px;

  &--no-visibility {
    visibility: hidden;
  }

  &--hide {
    display: none;
  }
}
