.error {
  &__container {
    top: 0;
    height: auto;
    position: relative;
    min-height: 100vh;
  }
  &__wrapper {
    color: #fff;
    border: 0;
    height: 100%;
    margin: 0;
    display: flex !important;
    padding: 120px 0;
    position: relative;
    min-height: 100vh;
    align-items: center;
    background-size: cover;
    background-position: center center;
    background-color: #535353;
  }
  &__holder {
    margin: 0;
    box-sizing: border-box;
    padding: 0 15px !important;
    text-align: center;

    h1 {
      color: #fff;
      font-size: 13.7em;
      margin-top: 30px;
      min-height: 32px;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-weight: 700;
      margin-bottom: 25px;
      letter-spacing: 14px;
      text-decoration: none;
    }
    h2 {
      font-size: 2.25rem;
      margin-top: 0;
      margin-bottom: 8px;
    }
    h3 {
      font-size: 1.125rem;
      margin-top: 0;
      margin-bottom: 8px;
    }
  }
}
