<div class="error">
  <div class="error__container">
    <div class="error__wrapper">
      <div class="mrk-container">
        <div class="mrk-row">
          <div class="mrk-xs-12 mrk-sm-12 mrk-md-8 mrk-md-space-left-2">
            <div class="error__holder">
              <h1 class="jss630">404</h1>
              <h2 class="jss631" [translate]="'general.page-not-found'"></h2>
              <h4 class="jss632" [translate]="'general.ooooups'"></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
