<div class="listing">
  <div class="listing__container">
    <div class="listing__header">
      <app-header [title]="'general.personal-records' | translate"></app-header>
    </div>
    <div class="listing__body">
      <app-box [urlText]="'general.create' | translate" url="persons">
        <div class="mrk-container-fluid">
          <form (keydown.enter)="onSubmit()" [formGroup]="formGroup">
            <div class="mrk-row">
              <div class="mrk-sm-3">
                <app-checkbox
                  [label]="'general.is-advanced-search' | translate"
                  formControlName="isAdvancedSearch"
                  name="isAdvancedSearch"
                >
                </app-checkbox>
              </div>
              <div class="mrk-sm-2"></div>
              <div class="mrk-sm-2"></div>
              <div class="mrk-sm-2">
                <app-select
                  formControlName="genderType"
                  [options]="genderTypeOptions"
                  [placeholder]="'general.choose-gender' | translate"
                ></app-select>
              </div>
              <div class="mrk-sm-3">
                <app-text-input
                  type="text"
                  name="keyword"
                  formControlName="keyword"
                  [placeholder]="'general.keyword' | translate"
                >
                </app-text-input>
              </div>
            </div>
          </form>
        </div>
        <app-data-table
          *ngIf="formGroup"
          [headers]="[
            '#',
            'person.name' | translate,
            'person.gender' | translate,
            'person.personal-number' | translate,
            'general.action' | translate
          ]"
          [limit]="formGroup.value.limit"
          [page]="formGroup.value.page"
          [count]="persons.count"
          [items]="persons.keys"
          [$item]="itemTemplate"
        ></app-data-table>

        <app-pagination
          *ngIf="listPagination"
          [listPagination]="listPagination"
          (change)="handlePageChange($event)"
        ></app-pagination>
      </app-box>
    </div>
  </div>
</div>

<ng-template let-item #itemTemplate>
  <td>{{ item }}</td>
  <td>
    {{ persons.entities[item].firstName }}
    {{ persons.entities[item].lastName }}
  </td>
  <td>
    {{ "enums.GenderType." + persons.entities[item].genderType | translate }}
  </td>
  <td>{{ persons.entities[item].personalNumber }}</td>
  <td>
    <a [routerLink]="'persons/' + item + '/view'">
      <button type="button" class="data-table__button data-table__button--view">
        <span>
          <svg
            focusable="false"
            viewBox="0 0 24 24"
            aria-hidden="true"
            role="presentation"
          >
            <path
              d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"
            ></path>
          </svg>
        </span>
      </button>
    </a>
    <a [routerLink]="'persons/' + item">
      <button type="button" class="data-table__button data-table__button--edit">
        <span>
          <svg
            focusable="false"
            viewBox="0 0 24 24"
            aria-hidden="true"
            role="presentation"
          >
            <path
              d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34a.9959.9959 0 0 0-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"
            ></path>
          </svg>
        </span>
        <span></span>
      </button>
    </a>
    <button
      type="button"
      class="data-table__button data-table__button--delete"
      (click)="openDelete(persons.entities[item])"
    >
      <span class="MuiButton-label">
        <svg
          focusable="false"
          viewBox="0 0 24 24"
          aria-hidden="true"
          role="presentation"
        >
          <path
            d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
          ></path>
        </svg>
      </span>
      <span></span>
    </button>
  </td>
</ng-template>
