.text-input {
  &__container {
    border: 0;
    margin: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    vertical-align: top;
    width: 100%;
    margin: 0;
    position: relative;
    padding-top: 27px;
    vertical-align: unset;
  }
  &__wrapper {
    color: rgba(0, 0, 0, 0.87);
    cursor: text;
    display: inline-flex;
    position: relative;
    font-size: 1rem;
    box-sizing: border-box;
    align-items: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.1875em;
    margin-top: 0px;

    &::after {
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      position: absolute;
      transform: scaleX(0);
      transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
      border-bottom: 2px solid #303f9f;
      pointer-events: none;
      border-color: #9c27b0;
    }
    &:before {
      left: 0;
      right: 0;
      bottom: 0;
      content: "\00a0";
      position: absolute;
      transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      border-bottom: 1px solid rgba(0, 0, 0, 0.42);
      pointer-events: none;
      border-color: #d2d2d2;
      border-width: 1px;
    }
  }
  label {
    display: block;
    transform-origin: top left;
    top: 0;
    left: 0;
    position: absolute;
    transform: translate(0, 24px) scale(1);
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
      transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    top: 10px;
    color: #aaaaaa;
    font-size: 14px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.42857;
    letter-spacing: unset;
  }
  input {
    font: inherit;
    width: 100%;
    border: 0;
    margin: 0;
    display: block;
    padding: 6px 0 7px;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    -webkit-tap-highlight-color: transparent;
    color: #495057;
    height: unset;
    opacity: 1;
    font-size: 14px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 20px;

    &:disabled {
      background-color: rgba(43, 43, 43, 0.05);
    }
  }
  &--error {
    .text-input__wrapper::before,
    .text-input__wrapper:after {
      border-color: #e82828;
    }
  }
  &--in {
    label {
      transform: translate(0, 1.5px) scale(0.75);
      transform-origin: top left;
    }
  }
  &--focused {
    .text-input__wrapper::after {
      transform: scaleX(1);
    }
  }
}
