<div
  class="text-input"
  [ngClass]="{
    'text-input--focused': focused,
    'text-input--in': focused || !!value,
    'text-input--error': invalid || getError(),
    'text-input--normal': !invalid && !getError()
  }"
>
  <div class="text-input__container">
    <label *ngIf="label" class="text-input__label"> {{ label }} </label>
    <div class="text-input__wrapper">
      <input
        #ref
        (focus)="onFocus()"
        (blur)="onBlure()"
        [(ngModel)]="value"
        (ngModelChange)="updateChanges()"
        [type]="type"
        [pattern]="pattern"
        [placeholder]="placeholder"
        [name]="name"
        [id]="name"
        [disabled]="disabled"
        [autocomplete]="autocomplete"
        (keypress)="handleKeypress($event)"
        (paste)="handlePaste($event)"
        (keyup)="handleKeyup($event)"
      />
    </div>
  </div>
</div>
