<div
  class="select"
  appClickOutside
  (clickOutside)="handleClickOutside()"
  [ngClass]="{
    'select--error': invalid || getError(),
    'select--is-open': isOpen,
    'select--is-selected': selected
  }"
>
  <label
    *ngIf="label"
    class="select__label"
    [ngClass]="{ 'select__label--disabled': disabled }"
  >
    {{ label }}
  </label>

  <button
    type="button"
    (click)="toggle()"
    [disabled]="disabled"
    class="select__button"
    [ngClass]="{
      'select__button--is-open': isOpen,
      'select__button--is-selected': selected,
      'select__button--validate': invalid
    }"
  >
    <input
      *ngIf="searchable && !disabled"
      class="select__button__placeholder"
      [disabled]="disabled"
      [(ngModel)]="searchValue"
      (ngModelChange)="filterValues()"
      [placeholder]="placeholder"
      (focus)="handleSearchFocus()"
      #inputRef
    />
    <label
      *ngIf="!searchable || disabled"
      class="select__button__placeholder"
      >{{
        selected
          ? selected.translate
            ? (selected.text | translate)
            : selected.text
          : placeholder
      }}</label
    >
  </button>

  <div *ngIf="isOpen" class="select__option-wrapper">
    <div class="select__options scroll-bar-style">
      <ng-container *ngFor="let option of visibleOptions; let i = index">
        <button
          (click)="handleSelect($event, option)"
          class="select__option"
          [disabled]="option.disabled"
          [ngClass]="{ active: getActive(option) }"
        >
          {{ option.translate ? (option.text | translate) : option.text }}
          {{ prefix }}
        </button>

        <div #positionDiv class="position-div" *ngIf="i === 3"></div>
      </ng-container>
    </div>
  </div>
</div>
