.select {
  text-align: left;
  position: relative;
  padding-top: 27px;

  &--error {
    .select__button {
      border-color: #e82828;
    }
  }

  &--is-selected,
  &--is-open {
    .select__label {
      transform: translate(0, 1.5px) scale(0.75);
      transform-origin: top left;
    }
  }

  &__label {
    display: block;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    top: 0;
    left: 0;
    position: absolute;
    -webkit-transform: translate(0, 24px) scale(1);
    transform: translate(0, 24px) scale(1);
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
      -webkit-transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
      transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
      transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
      -webkit-transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    top: 10px;
    color: #aaaaaa;
    font-size: 14px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.42857;
    letter-spacing: unset;

    &--disabled {
      color: rgba(0, 0, 0, 0.45);
    }
  }

  &__button {
    font-size: 48px;
    color: rgba(0, 0, 0, 0.7);
    text-align: left;
    vertical-align: top;
    line-height: 3;
    width: 100%;
    height: 32px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0;
    border-bottom: 1px solid #d2d2d2;
    border-radius: 1px;
    box-sizing: border-box;
    transition: border 0.4s ease;
    background: transparent;
    padding: 6px 0 7px;

    &:after {
      content: "";
      position: absolute;
      transition: -webkit-transform 0.4s ease;
      transition: transform 0.4s ease;
      transition: transform 0.4s ease, -webkit-transform 0.4s ease;
      background-image: url(/assets/icons/arrow-down.svg);
      background-repeat: no-repeat;
      background-size: 12px;
      background-position: 0 center;
      height: 100%;
      width: 12px;
      right: 8px;
      top: 2px;
      z-index: 1;
    }

    &--is-open {
      &:after {
        transform: rotate(180deg);
      }
    }

    &--is-selected {
      color: #000;

      .select__button__placeholder {
        color: #495057;
      }
    }

    &--validate {
      border: 1px solid #e82828;
    }

    &:disabled {
      background-color: rgba(43, 43, 43, 0.05);
    }

    &__placeholder {
      display: block;
      font-size: 14px;
      padding: 0 32px 0 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border: none;
      color: rgba(0, 0, 0, 0.7);
      cursor: pointer;
      background-color: transparent;
      width: 100%;
      line-height: 1;

      &::placeholder {
        color: rgba(0, 0, 0, 0.7);
      }
    }
  }

  &__option-wrapper {
    position: relative;
    z-index: 1;
  }

  &__options {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 8px 0;
    object-fit: contain;
    box-shadow: 0 5px 21px -1px rgba(10, 31, 68, 0.05);
    border: solid 1px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    border-top: 0;
    max-height: 250px;
    overflow: auto;
  }

  &__option {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    padding: 0.5em 0.85em;
    display: block;
    width: 100%;
    text-align: left;
    background: transparent;
    border: 0;

    &:hover {
      background-color: #ebebeb;
      color: rgba(0, 0, 0, 0.8);
    }

    &:disabled {
      opacity: 0.3;
    }
  }
}
