<div class="pagination">
  <div class="pagination__container">
    <ul class="pagination__list">
      <li *ngFor="let listPage of listPagination">
        <a
          *ngIf="listPage.type === paginationTypes.Prev"
          (click)="changePage(listPage)"
          class="pagination__previous"
        >
          <span>{{ "paging.back" | translate }}</span>
        </a>
        <a
          *ngIf="listPage.type === paginationTypes.PrevBlacked"
          class="pagination__previous pagination__disabled"
        >
          <span>{{ "paging.back" | translate }}</span>
        </a>

        <a *ngIf="listPage.type === paginationTypes.Dots"><span>...</span></a>

        <a
          *ngIf="listPage.type === paginationTypes.Page"
          (click)="changePage(listPage)"
        >
          <span>{{ listPage.index }}</span>
        </a>
        <a
          *ngIf="listPage.type === paginationTypes.Active"
          (click)="changePage(listPage)"
          class="pagination__active"
        >
          <span>{{ listPage.index }}</span>
        </a>

        <a
          *ngIf="listPage.type === paginationTypes.Next"
          (click)="changePage(listPage)"
          class="pagination__next"
        >
          <span>{{ "paging.next" | translate }}</span>
        </a>
        <a
          *ngIf="listPage.type === paginationTypes.NextBlocked"
          class="pagination__next pagination__disabled"
        >
          <span>{{ "paging.next" | translate }}</span>
        </a>
      </li>
    </ul>
  </div>
</div>
