.pagination {
  &__container {
    padding: 30px 0;
  }
  &__list {
    margin: 1px 0 2px auto;
    display: table;
    padding-left: 0;
    border-radius: 4px;

    li {
      display: inline;
    }
    a {
      color: inherit;
    }
    span {
      display: inline-flex;
      outline: 0;
      padding: 0;
      position: relative;
      align-items: center;
      user-select: none;
      border-radius: 0;
      vertical-align: middle;
      -moz-appearance: none;
      justify-content: center;
      text-decoration: none;
      background-color: transparent;
      -webkit-appearance: none;
      -webkit-tap-highlight-color: transparent;
      float: left;
      border: 0;
      height: 30px;
      margin: 0 3px;
      padding: 0px 11px;
      position: relative;
      font-size: 12px;
      min-width: 30px;
      background: transparent;
      box-sizing: border-box;
      min-height: auto;
      transition: all 0.3s;
      font-weight: 400;
      line-height: 30px;
      border-radius: 30px !important;
      letter-spacing: unset;
      text-transform: uppercase;
      text-decoration: none;
      color: #999;
      cursor: pointer;

      &:hover {
        z-index: 3;
        border-color: #ddd;
        background-color: #eee;
      }
    }
  }
  &__active {
    span {
      color: #fff;
      box-shadow: 0 2px 2px 0 rgba(233, 30, 99, 0.14),
        0 3px 1px -2px rgba(233, 30, 99, 0.2),
        0 1px 5px 0 rgba(233, 30, 99, 0.12);
      border-color: #e91e63;
      background-color: #e91e63;
    }
  }
}
