.navigation {
  &--in {
    .navigation__wrapper {
      width: 260px;
    }
    .navigation__layer {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.6s, visibility 0s 0s;
    }
  }
  &__layer {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s, visibility 0s 0.6s;
  }
  &__wrapper {
    @media (max-width: 959px) {
      width: 0;
      overflow: hidden;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      transition-duration: 0.2s, 0.2s, 0.35s;
      transition-property: top, bottom, width;
      transition-timing-function: linear, linear, ease;
      z-index: 2;
    }
  }
  &__container {
    top: 0;
    left: 0;
    width: 260px;
    border: none;
    bottom: 0;
    z-index: 1032;
    position: fixed;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42),
      0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    transition-duration: 0.2s, 0.2s, 0.35s;
    transition-property: top, bottom, width;
    transition-timing-function: linear, linear, ease;
    width: 260px;
    height: 100%;
    color: #fff;
    background: #000;

    @media (min-width: 960px) {
      position: fixed;
    }
    @media (max-width: 959px) {
      position: absolute;
    }
  }
  &__body {
    color: inherit;
    width: 260px;
    height: calc(100vh - 75px);
    z-index: 4;
    overflow: auto;
    position: relative;
    padding-bottom: 30px;
    overflow-scrolling: touch;
    transition-duration: 0.2s, 0.2s, 0.35s;
    transition-property: top, bottom, width;
    transition-timing-function: linear, linear, ease;
    overflow: hidden !important;
  }
  &__profile {
    margin: 20px auto 0;
    position: relative;
    padding-bottom: 20px;

    &-avatar {
      float: left;
      width: 34px;
      height: 34px;
      z-index: 5;
      overflow: hidden;
      box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42),
        0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
      transition: all 300ms linear;
      margin-left: 23px;
      margin-right: 11px;
      border-radius: 50%;

      img {
        width: 100%;
        border: 0;
        vertical-align: middle;
      }
    }

    &-toggle {
      width: auto;
      margin: 10px 15px 0;
      display: block;
      padding: 10px 15px;
      position: relative;
      transition: all 300ms linear;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-weight: 300;
      line-height: 1.5em;
      padding-left: 10px;
      border-radius: 3px;
      padding-right: 10px;
      background-color: transparent;
      margin: 0;
      padding: 6px 15px;

      &-wrapper {
        color: inherit;
        height: auto;
        margin: 0;
        display: block;
        opacity: 1;
        padding: 0 16px !important;
        position: relative;
        font-size: 14px;
        transform: translate3d(0px, 0, 0);
        transition: transform 300ms ease 0s, opacity 300ms ease 0s;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-weight: 300;
        line-height: 30px;
        white-space: nowrap;

        line-height: 22px;

        b {
          right: 18px;
          width: 0;
          height: 0;
          display: inline-block;
          position: absolute;
          border-top: 4px solid;
          margin-top: 13px;
          transition: all 150ms ease-in;
          border-left: 4px solid transparent;
          margin-left: 2px;
          border-right: 4px solid transparent;
          vertical-align: middle;

          margin-top: 10px;
          transform: rotate(180deg);
        }
      }
    }

    ul {
      color: inherit;
      list-style: none;
      margin-top: 15px;
      padding-top: 0;
      padding-left: 0;
      margin-bottom: 0;
      padding-bottom: 0;

      > li {
        width: 100%;
        display: flex;
        position: relative;
        box-sizing: border-box;
        text-align: left;
        align-items: center;
        padding-top: 8px;
        padding-bottom: 8px;
        justify-content: flex-start;
        text-decoration: none;

        color: inherit;
        margin: 0;
        display: block;
        padding: 0;
        position: relative;
        text-decoration: none;
      }
    }

    &:after {
      right: 15px;
      width: calc(100% - 30px);
      bottom: 0;
      height: 1px;
      content: "";
      position: absolute;
      background-color: hsla(0, 0%, 100%, 0.3);
    }
  }
  &__list {
    color: inherit;
    list-style: none;
    margin-top: 15px;
    padding-top: 0;
    padding-left: 0;
    margin-bottom: 0;
    padding-bottom: 0;

    li {
      width: 100%;
      display: flex;
      position: relative;
      box-sizing: border-box;
      text-align: left;
      align-items: center;
      padding-top: 8px;
      padding-bottom: 8px;
      justify-content: flex-start;
      text-decoration: none;

      color: inherit;
      margin: 0;
      display: block;
      padding: 0;
      position: relative;
      text-decoration: none;

      a {
        width: auto;
        margin: 10px 15px 0;
        display: block;
        padding: 10px 15px;
        position: relative;
        transition: all 300ms linear;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-weight: 300;
        line-height: 1.5em;
        padding-left: 10px;
        border-radius: 3px;
        padding-right: 10px;
        background-color: transparent;
        color: #fff;

        svg {
          fill: #fff;
          width: 1em;
          height: 1em;
          display: inline-block;
          font-size: 1.5rem;
          transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
          flex-shrink: 0;
          user-select: none;
          top: 3px;
          color: inherit;
          float: left;
          width: 30px;
          height: 24px;
          opacity: 0.8;
          position: inherit;
          text-align: center;
          margin-right: 15px;
          vertical-align: middle;
        }

        div {
          flex: 1 1 auto;
          min-width: 0;

          color: inherit;
          height: auto;
          margin: 0;
          display: block;
          opacity: 1;
          padding: 0 16px !important;
          position: relative;
          font-size: 14px;
          transform: translate3d(0px, 0, 0);
          transition: transform 300ms ease 0s, opacity 300ms ease 0s;
          font-family: "Roboto", "Helvetica", "Arial", sans-serif;
          font-weight: 300;
          line-height: 30px;
          white-space: nowrap;
        }
      }
    }
  }
}
