<div
  class="navigation"
  [ngClass]="{ 'navigation--in': navigationCondition.visible }"
>
  <div class="navigation__wrapper">
    <div class="navigation__container">
      <div class="navigation__body">
        <div class="navigation__profile">
          <div class="navigation__profile-avatar">
            <img src="/assets/icons/avatar.png" />
          </div>
          <ul>
            <li>
              <div class="navigation__profile-toggle">
                <div class="navigation__profile-toggle-wrapper">
                  Unknown
                </div>
              </div>
            </li>
          </ul>
        </div>
        <ul class="navigation__list">
          <li>
            <a [routerLink]="'/'"
              ><svg
                focusable="false"
                viewBox="0 0 24 24"
                aria-hidden="true"
                role="presentation"
              >
                <path
                  d="M3 13h8V3H3v10zm0 8h8v-6H3v6zm10 0h8V11h-8v10zm0-18v6h8V3h-8z"
                ></path>
              </svg>
              <div [translate]="'general.dashboard'"></div
            ></a>
          </li>
          <li>
            <a [routerLink]="'/identity/sign-out'">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24"
                viewBox="0 0 24 24"
                width="24"
              >
                <path
                  d="M21.71 11.29l-9-9c-.39-.39-1.02-.39-1.41 0l-9 9c-.39.39-.39 1.02 0 1.41l9 9c.39.39 1.02.39 1.41 0l9-9c.39-.38.39-1.01 0-1.41zM14 14.5V12h-4v3H8v-4c0-.55.45-1 1-1h5V7.5l3.5 3.5-3.5 3.5z"
                />
                <path d="M0 0h24v24H0z" fill="none" />
              </svg>
              <div [translate]="'general.sign-off'"></div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="navigation__layer" (click)="handleHideNavigation()"></div>
</div>
