<div class="error">
  <div class="error__constainer">
    <div class="error__header"></div>
    <div class="error__body">
      <h4 [translate]="'general.an-error-occuard'"></h4>
      <p *ngIf="data.error">{{ data.error.error }}</p>
    </div>
  </div>
</div>
