.error {
  &__constainer {
    padding: 30px 60px;
  }
  &__body {
    text-align: center;

    h4 {
      margin-bottom: 30px;
      font-size: 24px;
    }
    p {
      font-size: 16px;
      margin-bottom: 20px;
      color: #e82828;
    }
  }
}
