.header {
  &__wrapper {
    min-height: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    position: relative;
  }
  &__navigation {
    &-button {
      color: #555555;
      float: left;
      display: block;
      padding: 0 0 0 0;

      button {
        display: inline-flex;
        outline: 0;
        align-items: center;
        -webkit-user-select: none;
        user-select: none;
        border-radius: 0;
        vertical-align: middle;
        -moz-appearance: none;
        justify-content: center;
        text-decoration: none;
        background-color: transparent;
        -webkit-appearance: none;
        -webkit-tap-highlight-color: transparent;
        border: none;
        cursor: pointer;
        margin: 0.3125rem 1px;
        padding: 12px 30px;
        position: relative;
        font-size: 12px;
        min-width: auto;
        box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14),
          0 3px 1px -2px rgba(153, 153, 153, 0.2),
          0 1px 5px 0 rgba(153, 153, 153, 0.12);
        min-height: auto;
        text-align: center;
        transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
          background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        font-weight: 400;
        line-height: 1.42857143;
        white-space: nowrap;
        will-change: box-shadow, transform;
        touch-action: manipulation;
        letter-spacing: 0;
        text-transform: uppercase;
        vertical-align: middle;
        width: 41px;
        height: 41px;
        font-size: 20px;
        min-width: 41px;
        padding-left: 12px;
        padding-right: 12px;
        color: #999;
        background-color: #fff;
        border-radius: 30px;

        svg {
          overflow: hidden;
          top: 0;
          width: 18px;
          height: 18px;
          display: inline-block;
          position: relative;
          vertical-align: middle;
        }

        &:hover {
          color: #fff;
          box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42),
            0 4px 23px 0px rgba(0, 0, 0, 0.12),
            0 8px 10px -5px rgba(153, 153, 153, 0.2);
        }
      }
    }
  }
  &__title {
    flex: 1;

    span {
      display: inline-flex;
      border: none;
      cursor: pointer;
      margin: 0.3125rem 1px;
      padding: 12px 30px;
      position: relative;
      font-size: 12px;
      min-width: auto;
      box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14),
        0 3px 1px -2px rgba(153, 153, 153, 0.2),
        0 1px 5px 0 rgba(153, 153, 153, 0.12);
      min-height: auto;
      text-align: center;
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
        background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      font-weight: 400;
      line-height: 1.42857143;
      white-space: nowrap;
      will-change: box-shadow, transform;
      touch-action: manipulation;
      border-radius: 3px;
      letter-spacing: 0;
      text-transform: uppercase;
      vertical-align: middle;

      box-shadow: none;
      color: inherit;
      margin: 0 !important;
      font-size: 18px;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-weight: 300;
      line-height: 30px;
      padding-top: 0.625rem;
      border-radius: 3px;
      letter-spacing: unset;
      padding-bottom: 0.625rem;
      text-transform: none;

      color: #676767;
    }
  }
  &__action {
    position: absolute;
    right: 18px;
    top: 28px;

    @media (min-width: 960px) {
      display: none;
    }

    button {
      color: #fff;
      border: none;
      cursor: pointer;
      margin: 0.3125rem 1px;
      padding: 0 30px;
      position: relative;
      font-size: 12px;
      min-width: auto;
      box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14),
        0 3px 1px -2px rgba(153, 153, 153, 0.2),
        0 1px 5px 0 rgba(153, 153, 153, 0.12);
      min-height: auto;
      text-align: center;
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
        background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      font-weight: 400;
      line-height: 1.42857143;
      white-space: nowrap;
      will-change: box-shadow, transform;
      touch-action: manipulation;
      border-radius: 3px;
      letter-spacing: 0;
      text-transform: uppercase;
      vertical-align: middle;
      background-color: #999;

      color: inherit;
      background: transparent;
      box-shadow: none;

      width: 41px;
      height: 41px;
      font-size: 20px;
      min-width: 41px;
      padding-left: 12px;
      padding-right: 12px;
    }
    span {
      width: 100%;
      display: inherit;
      align-items: inherit;
      justify-content: inherit;
    }
    svg {
      width: 1em;
      height: 1em;
      display: inline-block;
      font-size: 1.5rem;
      transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      flex-shrink: 0;
      user-select: none;
      fill: #797979;

      top: 0;
      width: 18px;
      height: 18px;
      display: inline-block;
      position: relative;
      vertical-align: middle;
    }
  }
}
