<div class="header">
  <div class="header__wrapper">
    <div class="header__navigation">
      <div class="header__navigation-button">
        <a *ngIf="backLink" [routerLink]="backLink">
          <button>
            <svg width="12" height="12" viewBox="0 0 20 20" color="#676767">
              <path
                d="M6.334 8.5H19v3H6.334L11 16.12 9.097 18 1 10l8.097-8L11 3.88 6.334 8.5z"
              ></path>
            </svg></button
        ></a>
        <button *ngIf="!backLink">
          <svg
            focusable="false"
            viewBox="0 0 24 24"
            aria-hidden="true"
            role="presentation"
          >
            <path
              d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"
            ></path>
          </svg>
        </button>
      </div>
    </div>
    <div class="header__title">
      <span>{{ title }}</span>
    </div>
    <div class="header__action">
      <button (click)="handleShowNavigation()">
        <span>
          <svg
            focusable="false"
            viewBox="0 0 24 24"
            aria-hidden="true"
            role="presentation"
          >
            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
          </svg>
        </span>
      </button>
    </div>
  </div>
</div>
